cache
acoular
temp*
pcd*.xml
pcd_mic_temp.xml
pcd_temp_verti.xml
temp.h5
*.npz
pcd_mic_temp.xml
pcd_temp_cen.xml
pcd_temp_verti.xml
your_data.joblib
pcd_temp_verti.xml
pcd_temp_cen.xml
pcd_mic_temp.xml
pcd_temp_verti.xml
temp.h5
